# Erlang version
erlang_version=17.2

# Elixir version
elixir_version=1.0.2

# Do dependencies have to be built from scratch on every deploy?
always_build_deps=false

# Export heroku config vars
config_vars_to_export=(DATABASE_URL SESSION_SECRET)

# Set a script for post_app hook
post_app_hook=deploy/post_app
