<div class="jumbotron">
  <h1><%= @page.title %></h1>
  <p>
    <h4>Body</h4>
    <pre>
      <%= @page.body %>
    </pre>
  </p>
  <p>
    <a href="<%= SinetrisBlog.Router.Helpers.admin_pages_path(:edit, @page.slug) %>">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
  </p>
</div>
